body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    justify-content: center;
}

div{
    width: 100%;
    text-align: center;
}

#game-area{
    width: 800px;
    height: 500px;
    background-image: url("assets/nebula_blue.png");
    font-size: 23px;
    font-weight: bolder;
}

#header{
    width: 800px;
    height: 15px;
    background-color: black;
    font-size: 14px;
    font-weight: bolder;
}

#debug{
    font-size: 12px;
}

#title{
    font-size: 47px;
}

#subtitle{
    font-size: 23px;
}

#start{
    font-size: 18px;
}